<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Parallel Suite" thread-count="4" verbose="1">

<!--    <listeners>-->
<!--        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>-->
<!--    </listeners>-->
    <listeners>
        <listener class-name="base.CustomAllureListener"/>
    </listeners>


    <test name="SauceDemo Tests - Run 1">
        <parameter name="browser" value="firefox"/>
        <parameter name="headless" value="false"/>
        <classes>
            <class name="tests.HomePageTests"/>
            <class name="tests.ProductsPageTests"/>
        </classes>
    </test>
</suite>